<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ENROLLMENT_V3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ENROLLMENT_V3.Properties.Settings>
      <setting name="scan" serializeAs="String">
        <value />
      </setting>
      <setting name="SEDE" serializeAs="String">
        <value>GUA</value>
      </setting>
      <setting name="DEVICE_MODE" serializeAs="String">
        <value>SEDE</value>
      </setting>
      <setting name="INTENTOS_ICAO" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DRIVE_LETTER" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP_URL" serializeAs="String">
        <value>ftp://10.200.0.27/</value>
      </setting>
      <setting name="USB_DEVICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PROBATORIOS_GUA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PROBATORIOS_GUA_3_EDAD" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PROBATORIOS_EXTRANJERO" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SUFIJO_ENCRIPTACION" serializeAs="String">
        <value />
      </setting>
      <setting name="MATCHING_MODE" serializeAs="String">
        <value>LOCAL</value>
      </setting>
      <setting name="ARTICULO_98" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SERVIDOR_NEURO" serializeAs="String">
        <value>/local</value>
      </setting>
      <setting name="VALIDAR_HIT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IP_SERVICIOS_WEB" serializeAs="String">
        <value>http://10.200.1.8</value>
      </setting>
      <setting name="FILTRAR_ESCANER_HUELLAS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VALIDAR_PAGO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConsultarAsignacionSeEqMe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VALIDAR_SEQUIPO_SUSUARIO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CONSULTAR_CITA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CONFIRMA_CIUDADANO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ESCANER_HUELLAS_LOGIN" serializeAs="String">
        <value />
      </setting>
      <setting name="ESCANER_HUELLAS_PASAPORTE" serializeAs="String">
        <value />
      </setting>
      <setting name="FOTO_DPI_FOTO_DOC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XML_PRUEBA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CITA_BY_ID" serializeAs="String">
        <value>http://10.200.1.8/citas/datos_personales</value>
      </setting>
      <setting name="CITA_BY_PAGO" serializeAs="String">
        <value>http://10.200.0.55:8080/citas/datos_personales_boleta</value>
      </setting>
      <setting name="VALIDAR_SEDE_ENTREGA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VALIDAR_FECHA_CITA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FOTO_PERSONA" serializeAs="String">
        <value>http://10.200.1.8/mostrarFotoPersona</value>
      </setting>
      <setting name="CITA_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="INSERTAR_ENTREGA_PASAPORTE" serializeAs="String">
        <value>http://10.200.1.8:8080/entrega_pasaporte</value>
      </setting>
      <setting name="ENVIAR_FTP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SERIAL_USB" serializeAs="String">
        <value />
      </setting>
      <setting name="BIOS" serializeAs="String">
        <value />
      </setting>
      <setting name="PUERTO_NEURO" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="COMPONENTES_NEURO" serializeAs="String">
        <value>Biometrics.FaceMatching,Biometrics.FingerMatching,Biometrics.FingerExtraction,Devices.FingerScanners,Images.WSQ,Biometrics.FingerSegmentation,Biometrics.FingerQualityAssessmentBase,Biometrics.FaceExtraction,Biometrics.FaceDetection,Devices.Cameras,Biometrics.FaceSegmentsDetection</value>
      </setting>
      <setting name="ESCANEAR_UV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CONSULTAR_CASO_PASAPORTE" serializeAs="String">
        <value>http://10.200.1.8/consultarCasoPasaportexLibreta</value>
      </setting>
      <setting name="TIPO_CONEXION_ENTREGA" serializeAs="String">
        <value>TEMP</value>
      </setting>
      <setting name="SEGMENTAR_ROSTRO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FILTRAR_CAMARA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FILTRO_CAMARA" serializeAs="String">
        <value>HP HD Camera</value>
      </setting>
      <setting name="TIPO_CONEXION_CONSULTA" serializeAs="String">
        <value>LOCAL</value>
      </setting>
      <setting name="NOMBRE_INSTITUCION" serializeAs="String">
        <value>INSTITUTO GUATEMALTECO DE MIGRACION</value>
      </setting>
      <setting name="MENSAJE_ENTREGA" serializeAs="String">
        <value>Tu pasaporte entregado exitosamente. </value>
      </setting>
      <setting name="URL_SEND_TEXT_MESSAGE" serializeAs="String">
        <value>http://10.200.1.8/sms/messages_send</value>
      </setting>
      <setting name="ENVIAR_MSG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VALIDAR_ESTADO_POSTIMPRESION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VALIDAR_USUARIO_GUARDAR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CONSULTAR_PASAPORTE_GTM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ELIMINAR_TEMPORALES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IMAGEN_UV_VISIBLE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REGEX_NUMERO_DOCUMENTO" serializeAs="String">
        <value>^[\w]+$</value>
      </setting>
      <setting name="ANCHO_PAPEL_PPI" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="ALTO_FUENTE" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="API_CONTROL_ACCESOS" serializeAs="String">
        <value>http://10.200.0.51:8082/api/movimiento</value>
      </setting>
      <setting name="ESCANER_PASAPORTES" serializeAs="String">
        <value>PentaScanner4x</value>
      </setting>
      <setting name="ENROLAR_ROSTRO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ENROLAR_HUELLAS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TIPO_MOVIMIENTO" serializeAs="String">
        <value>SALIDOS</value>
      </setting>
      <setting name="IMPRIMIR_TICKET" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GENERAR_ARCHIVO_JSON" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CONSUMIR_API_INS_MOV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SEDE_ID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="API_INSERTAR_MOVIMIENTO" serializeAs="String">
        <value>/miros/flujo/saveFlujo</value>
      </setting>
      <setting name="API_INSERTAR_BIOMETRIA_USUARIO" serializeAs="String">
        <value>/core/auth/registroBiometrico</value>
      </setting>
      <setting name="API_LOGIN_USUARIO" serializeAs="String">
        <value>/core/auth/loginDesktop</value>
      </setting>
      <setting name="API_PASAPORTE_BIOGRAFIA" serializeAs="String">
        <value>/miros/pasaportes/getBiografiaLibreta</value>
      </setting>
      <setting name="API_PASAPORTE_FOTO" serializeAs="String">
        <value>/miros/pasaportes/getFotoLibreta</value>
      </setting>
      <setting name="API_PASAPORTE_HUELLAS" serializeAs="String">
        <value>/miros/pasaportes/getHuellasLibreta</value>
      </setting>
      <setting name="TIPO_CONSULTA_PASAPORTE" serializeAs="String">
        <value>WS</value>
      </setting>
      <setting name="CONTROLADOR_WEBCAM" serializeAs="String">
        <value>AFORGE</value>
      </setting>
      <setting name="API_SEDE_BY_ID" serializeAs="String">
        <value>/miros/delegacion/getDelegacionById</value>
      </setting>
      <setting name="API_EQUIPO_BY_BIOS" serializeAs="String">
        <value>/miros/delegacion/getEquipoByBios</value>
      </setting>
      <setting name="API_GET_VUELOS" serializeAs="String">
        <value>/miros/transportedetalle/getTransporteAereo</value>
      </setting>
      <setting name="API_DECLARACION_BY_LIBRETA" serializeAs="String">
        <value>https://172.16.230.30/externalservices/api/declaracionregional/detailsFromLibretaAndBirthday</value>
      </setting>
      <setting name="DECLARACION_TKN" serializeAs="String">
        <value>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ik1JUk9TR1RfQ01BSUxBIiwidXNlcklEIjoxOSwidGlwb1VzZXIiOjEsImlhdCI6MTcyMTE1NzE4NX0.otfTKEi1ngSwRXBBYkwecSQ-KkNobupYLTox2LRDp9pB09VCFfRE5fzOs5dNOjTqfwfrvj4zvGKt29oAN3lRDA</value>
      </setting>
      <setting name="API_DECLARACION_BY_NUMERO" serializeAs="String">
        <value>https://172.16.80.10/externalservices/api/declaracionregional/details</value>
      </setting>
      <setting name="ENROLAR_DOCUMENTO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_GET_PAIS" serializeAs="String">
        <value>/miros/pais/getPais</value>
      </setting>
      <setting name="CONSULTAR_DJRV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_GET_TIPO_VISA" serializeAs="String">
        <value>/miros/categoriadocumento/getCategoriaDocumentoById</value>
      </setting>
      <setting name="CONSULTAR_ALERTAS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_ALERTAS" serializeAs="String">
        <value>/miros/alerta/getAllAlertas</value>
      </setting>
      <setting name="CONSULTAR_MOVIMIENTO_SIOM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_MOVIMIENTO_SIOM" serializeAs="String">
        <value>/miros/flujo/getMovimientoSIOM</value>
      </setting>
      <setting name="VERIFICAR_HUELLA_GTM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MODO_DIAGNÓSTICO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CONSULTAS_RENAP" serializeAs="String">
        <value>http://consultas_sireci.igm.gob.gt</value>
      </setting>
      <setting name="ENTREVISTA_TRABAJO_EMPRESA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VERSION" serializeAs="String">
        <value>Versión: 2025-05-14-01</value>
      </setting>
      <setting name="Valor" serializeAs="String">
        <value />
      </setting>
      <setting name="API_REST_MIROS" serializeAs="String">
        <value>http://172.16.80.56:5000</value>
      </setting>
    </ENROLLMENT_V3.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsBiometricsDGMSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WsBiometricsDGMSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.200.0.52:89/WsBiometricsDGM.asmx" binding="customBinding" bindingConfiguration="WsBiometricsDGMSoap12" contract="WsBiometricsDGM.WsBiometricsDGMSoap" name="WsBiometricsDGMSoap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neurotec" publicKeyToken="ea4ecf06177ea613" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neurotec.Devices" publicKeyToken="ea4ecf06177ea613" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neurotec.Media" publicKeyToken="ea4ecf06177ea613" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neurotec.Biometrics" publicKeyToken="ea4ecf06177ea613" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>
